<!DOCTYPE html>
<html>
<head>


</head>


<body>
<!-- body -->
<%- include ("partials/header.ejs") %>




<!-- INPUT FORM -->

<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Input form (choose one)</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>


  <!--INPUT-->
<div class='form'>
  <form method="post" action="/go/fileInput" novalidate enctype="multipart/form-data">

    <!--TEXT-->
    <fieldset class='form-fieldset'>
      <legend class='form-fieldset'>Input your RNA(s)</legend>
      <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>" >
        <label for="inputRNA">Input RNA</label>
        <textarea class="input" id="inputRNA" name="inputRNA" autofocus><%= inputRNA %></textarea>
        <% if (errors.message) { %>
          <div class="error"><%= errors.message.msg %></div>
        <% } %>
      </div>

      <!--UPLOAD-->
      <legend class='form-fieldset'>Upload your RNA(s)</legend>
      <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>" >
        
        <!--input file-->
        <label for="fileRNA">Input File</label>
        <input type="file" id="fileRNA" name="fileRNA" />
        <% if (errors.message) { %>
          <div class="error"><%= errors.message.msg %></div>
        <% } %>
        <br/>
        <!--background file? -->
        <label for="fileBackground">Background File (optional)</label>
        <input type="file" class="input" id="fileBackground" name="fileBackground">
        <% if (errors.message) { %>
          <div class="error"><%= errors.message.msg %></div>
        <% } %>
      
      </div>

      <div class="form-field <%= errors.email ? 'form-field-invalid' : '' %>">
        <label for="email">Email</label>
        <input class="input" id="email" name="email" type="email" value="<%= email %>" />
        <% if (errors.email) { %>
          <div class="error"><%= errors.email.msg %></div>
        <% } %>
      </div>

      <!-- FORM OPTIONS -->
      <div class="form-options">

          <select data-placeholder="Select species..." multiple class="chosen-select" name="options_species">
             <option selected>Human (hg19)</option>
             <option>Mouse (mm9)</option>
          </select>

          <select data-placeholder="Select experiments..." multiple class="chosen-select" name="options_experiemnts">
            <option selected>PAR-CLIP</option>
            <option selected>eCLIP</option>
         </select>

      </div>

      <!-- ACTION -->
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Go!</button>
      </div>
    </fieldset>
  </form>

  <% if (Object.keys(errors).length != 0 && (!errors.email || Object.keys(errors).length > 1)) { %>
    ********(to do more specific and with fashion tabs)********
  <h3> There are problems with your input:</h3>
    <div>
        Valid input RNA(s):<br/>
        <%= inputRNA_processed.valid_rnas %>
    </div>
    <br/>
    <div>
        Not valid input(s):<br/>
        <%= inputRNA_processed.not_valid_inputs %>
    </div>
    <br/>
    <div>
        Not valid RNA molecule(s):<br/>
        <%= inputRNA_processed.not_valid_rna_molecules %>
    </div>
    <br/>
    <div>
        Not valid secondary structure(s):<br/>
        <%= inputRNA_processed.not_valid_secondary_structures %>
    </div>

    <br/>
    <h3> There are problems with your background:</h3>
    ********(to do with fashion tabs)********

    <div>
        Valid input RNA(s):<br/>
        <%= inputBackground_processed.valid_rnas %>
    </div>
    <br/>
    <div>
        Not valid input(s):<br/>
        <%= inputBackground_processed.not_valid_inputs %>
    </div>
    <br/>
    <div>
        Not valid RNA molecule(s):<br/>
        <%= inputBackground_processed.not_valid_rna_molecules %>
    </div>
    <br/>
    <div>
        Not valid secondary structure(s):<br/>
        <%= inputBackground_processed.not_valid_secondary_structures %>
    </div>  
  <% } %>
</div>

<%- include ("partials/footer.ejs") %>

</body>


<script>
  $(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})
</script>
</html>