<!DOCTYPE html>
<html>
<head>
	</head>
<body>
<%- include ("partials/header.ejs") %>
<h2 class="text-primary">Loading</h2>
<div>
    Email:<br/>
    <%= email %>
</div>
<br/><br/>
<div>
    Input RNA(s):<br/>
    <%= inputRNA_processed.valid_rnas %>
</div>
<br/>
<% if (inputBackground_processed.valid_rnas != '') { %>
    <%= inputBackground_processed.valid_rnas %>
<% } %>

<%- include ("partials/footer.ejs") %>
</body>
</html>