<h1>Loading</h1>
<div>
    Email:<br/>
    <%= email %>
</div>
<br/><br/>
<div>
    Valid RNA(s):<br/>
    <%= valid_rnas %>
</div>
<br/>
<div>
    Not valid input(s):<br/>
    <%= not_valid_inputs %>
</div>
<br/>
<div>
    Not valid RNA molecule(s):<br/>
    <%= not_valid_rna_molecules %>
</div>
<br/>
<div>
    Not valid secondary structure(s):<br/>
    <%= not_valid_secondary_structures %>
</div>
