<!DOCTYPE html>
<html>

   <!-- STUB, now waits for 10 seconds and then tries to redirect.
   -->
<head>
	
</head>
<body>
	<%- include ("partials/header.ejs") %>
	<h2 class="text-primary">Loading</h2>
	<div>
	    ID: <%= userID %><br>
	    progress: <pre><%= progress %></pre>
	</div>

	<br/><br/>
	<div>
	    <h4>...a polite (and appealing) waiting message...</h4>
	    <br/>
	    ...Please copy your run ID to retrieve your results...
	</div>
	<br/>

	<%- include ("partials/footer.ejs") %>
	<form action="/waiting" id="run_data" method="post" enctype="multipart/form-data">
		<input type="hidden" name="uid" value="<%= userID %>">
	</form>
</body>
<script src="/js/loading.js"></script>
</html>