<!DOCTYPE html>
<html>
<meta http-equiv="refresh"
   content="10; url=/results/<%= userID %>">
   <!-- STUB, now waits for 10 seconds and then tries to redirect.
   -->
<head>
	</head>
<body>
<%- include ("partials/header.ejs") %>
<h2 class="text-primary">Loading</h2>
<div>
    Email:<br/>
    <%= email %> <br>
    ID: <%= userID %>
</div>

<br/><br/>
<div>
    <h4>...a polite (and appealing) waiting message...</h4>
    <br/>
    ...Please copy your run ID to retrieve your results...
</div>
<br/>

<%- include ("partials/footer.ejs") %>
</body>
</html>